/* Prefixes added to support all browsers */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: geometria;
    src: url("../css/Geometria/Geometria-Light.ttf") format("truetype");
}

* {
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: geometria;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}


/*======== Fadhili Foundation Home page here ========*/

.first-section {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 30px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://unsplash.com/photos/2KxyxmXOjPs/download?force=true&w=1920.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.first-section header nav {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: none;
    color: #ffa401;
    font-size: 15rem;
}

#nav-items {
    display: flex;
    list-style-type: none;
}

#nav-items a {
    text-decoration: none;
    color: #fff;
    margin-right: 2em;
    font-size: 17px;
    transition: ease-in-out 0.5s;
}

#nav-items a:hover {
    color: #ffa401;
}

.first_sec {
    margin-top: 3em;
    margin-left: 1em;
}

.first-section h1 {
    color: orange;
    font-weight: bolder;
    font-size: 48px;
}

.first-section p {
    color: #fff;
    font-size: 25px;
}

.first-div button {
    border-radius: 18px;
    /* border: 2px solid orange; */
    width: 200px;
    padding: 10px 5px;
    color: orange;
    font-size: 17px;
    margin-right: 15px;
    border: none;
}

.donate-btn {
    background-color: orange;
    color: #fff !important;
    transition: ease-in-out 0.5s;
}

.get-involved-btn {
    background-color: transparent;
    border: 2px solid #ffa401 !important;
    transition: ease-in-out 0.5s;
}

#active {
    color: orange !important;
}

.get-involved-btn:hover,
.donate-btn:hover {
    transform: scale(1.1);
}

.first-section h1 {
    font-size: 40px;
}

.first-section p {
    font-size: 20px;
}


/* #nav-items {
    display: none;
  } */


/* .icon { display: block; } */

.first-div {
    margin: auto;
    text-align: center;
    font-size: larger;
}

@media (max-width: 500px) {
    #nav-items {
        display: none;
    }
    .icon {
        display: block;
    }
    /*   .first-section { border: 2px solid blue; } */
    .first-div {
        margin: auto;
    }
    .donate-btn {
        background-color: darkgreen;
        border: none;
    }
    .get-involved-btn {
        display: inline-block;
        width: 40% !important;
        font-size: 10px !important;
        vertical-align: middle;
    }
}


/* Homepage styling ends here */


/* ============== Add next Section styles here =================*/


/* GET INVOVLED STARTS HERE */

.get-involved {
    width: 100%;
    background-color: #e5e5e5;
}

.background {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 5%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.img_div img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top,
.below {
    font-size: 30px;
    font-weight: bold;
    color: #22352b;
}

.under,
.under2 {
    width: 230px;
    height: 2px;
    background-color: #ffa401;
    border: none;
    margin-bottom: 10px;
}

.under2 {
    width: 100px;
}

.word {
    text-align: right;
}

.click {
    background-color: #22352b;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-top: 15px;
    border: none;
    transition: ease-in-out 0.5s;
}

.click:hover {
    background-color: #ffa401;
    transform: scale(1.1);
}


/* GET INVOVLED ENDS HERE */


/* MORE INFORMATION STARTS HERE */

.kc_info {
    height: 550px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 45% 40%;
    grid-gap: 5%;
    background: url("https://res.cloudinary.com/laviedegeorge/image/upload/v1567198192/startng/nairo_images/boy_vokhz0.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #fff;
    overflow-anchor: auto;
}

.num_donors {
    display: flex;
    justify-content: center;
    align-items: center;
}

.write_up {
    font-size: 2em;
    line-height: 1.5em;
}

.num {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.num>span {
    font-weight: 100;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
}


/* MORE INFORMATION STARTS HERE */


/* DONATION STARTS HERE */

.kc_donate {
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 3%;
    align-items: center;
    justify-content: center;
    background: url("https://res.cloudinary.com/laviedegeorge/image/upload/v1567198190/startng/nairo_images/annie_ngbfx1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #fff;
}

.do {
    font-size: 30px;
    font-weight: bold;
}

form {
    background-color: black;
    border-radius: 10px;
    padding: 15px 0px 15px 50px;
    color: #fff;
}

.b {
    display: block;
    margin-top: 10px;
}

.input {
    width: 80%;
    height: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    transition: ease-in-out 0.5s;
}

.input:hover,
.input:focus {
    border-bottom: 2px solid #ffa401;
}

.btn_secure {
    display: flex;
    margin-top: 10px;
}

.btn {
    width: 100px;
    height: 35px;
    background-color: #ffa401;
    color: #fff;
    border: none;
    border-radius: 30px;
    margin-top: 15px;
    transition: ease-in-out 0.5s;
}

.btn:hover {
    transform: scale(1.1);
}

.secure {
    text-align: center;
}

.secure p {
    color: #000;
}

.secure p span {
    font-weight: bolder;
    text-transform: uppercase;
}

.secure img {
    width: 80%;
}

.red {
    display: none;
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin-top: 0%;
}


/* DONATE ENDS HERE */


/* FOOTER STARTS HERE */

footer {
    background-color: #22352b;
    color: #fff;
    padding: 30px;
}

.footer_cont {
    text-align: center;
}

.footer_cont p {
    font-weight: bold;
    margin-bottom: 1.4em;
}

.footer_cont hr {
    margin: 10px 0px;
    border: none;
    height: 1px;
    background-color: #fff;
}

.sub_cont {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.sub_cont input {
    height: 40px;
    border: none;
    text-indent: 10px;
}

.sub_cont button {
    border: none;
    color: #fff;
    background-color: #ffa401;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
}

.socials i {
    font-size: 1.5em;
    color: #ffa401;
    margin-left: 18px;
}

.legal ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: bold;
    padding-right: 25px;
}


/* FOOTER ENDS HERE */


/* MEDIA QUERIES */

@media (max-width: 900px) {
    .first-div {
        width: auto;
        margin: auto;
    }
}

@media screen and (max-width: 650px) {
    .first-section {
        width: auto;
    }
    /* Navigation css starts here */
    @media (max-width: 500px) {
        #nav-items {
            display: none;
            flex-flow: column wrap;
            background: rgba(17, 16, 16, 0.9);
            color: white;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            text-align: center;
            transition: 500ms ease-in-out all;
        }
        #nav-items li {
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
        }
        i.fa-times {
            font-size: 100px;
            margin-top: 20px;
            align-self: center;
            margin-left: 30px;
            opacity: 0.5;
            mix-blend-mode: hard-light;
        }
        #nav-items li a {
            margin: auto;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            padding: 10px;
        }
        .icon {
            display: block;
        }
        .first-div {
            margin: auto;
        }
        .donate-btn {
            background-color: darkgreen;
            border: none;
            width: 40% !important;
            margin-bottom: 5px;
            font-size: 12px !important;
        }
        .get-involved-btn {
            vertical-align: middle;
        }
    }
    /* Navigation css Ends here */
    @media (max-width: 500px) {
        body {
            max-width: 100%;
            box-sizing: border-box;
        }
        .background,
        .kc_info,
        .kc_donate {
            display: block;
            height: auto;
            padding: 10px;
        }
        form {
            padding: 15px;
        }
        .num_donors {
            display: block;
        }
        .write_up {
            font-size: 1em;
            line-height: 1.5em;
            text-align: center;
        }
        .center {
            margin-right: 0%;
        }
        .center p {
            font-size: 15px;
            margin-bottom: 2px;
        }
        .center img {
            width: 70px;
            height: 70px;
            margin-right: 0%;
        }
        h3 {
            font-size: 15px;
            text-align: justify;
            margin-bottom: 5px;
        }
        footer {
            padding: 10px;
        }
    }
}